<%-include('../partials/header.ejs') %>
<div class="containerNew">
    <h1>Create Playlist</h1>
    <form action="/playlist" method="POST">
  <fieldset>
    <label for="title">Title</label>
    <input type="text" name="title" id="title"/><br>
  </fieldset>
  <fieldset>
    <label for="description">Description</label>
    <input type="textarea" name="description" id="description" /><br>
  </fieldset>
  <fieldset>
    <label for="img">image</label>
    <input type="text" name="img" id="img" /><br>
  </fieldset>
  <fieldset>
    <label for="videoTitle">Video Title</label>
    <input type="text" name="videoTitle" id="videoTitle"/><br>
  </fieldset>
  <fieldset>
    <label for="videoDescription">Description</label>
    <input type="textarea" name="videoDescription" id="videoDescription" /><br>
  </fieldset>
  <fieldset>
    <label for="videoLink">YouTube Link</label>
    <input type="text" name="videoLink" id="videoLink" /><br>
  </fieldset>
    <input type="submit" value="Create Playlist"><br>
  </form>
</div>

<%-include('../partials/footer.ejs') %>
